<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: rgb(229, 232, 233);
        }

        h1 {
            color: rgb(8, 140, 248);
        }

        h4 {
            color: rgb(69, 252, 24);
        }
    </style>
</head>

<body>

    <h1>Register</h1>
    <h4>Please fill in the following fields.</h4>

    <form action="../../app/controller/formController.php" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" name="name" placeholder="Enter name" id="name" required><br>
        <label for="email">Email:</label><br>
        <input type="email" name="email" placeholder="Enter email" id="email" required><br><br>
        <input type="submit" value="Submit">
    </form>

    
</body>

</html>